.navbar {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #CC57C7;
}

.navbar a {
    color: #EFCB58;
}
.navbar a:hover {
    color: #CC57C7
}

.navbra-nav {
    color: #EFCB58;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28239, 203, 88, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.navbar .navbar-toggler {
    border: 1px solid #EFCB58
}

.navbar img {
    width: 80px;
    height: 80px;
}