.footercontainer {
    background-color: black;
    border-top: #CC57C7 solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: justify;
    justify-content: space-around;
    color: #EFCB58;
}

.footercontainer a {
    text-decoration: none;
    color: #EFCB58
}

.footercontainer a:hover{
    color: #CC57C7
}

.logo {
    width: 180px;
    height: 180px;
}

.footercontainer ul {
    list-style-type: none;
    min-width: 180px;
}

.footertitle {
    font-size: 30px;
}

